{% if questions %}
    <ul>
        {% for question in questions %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question }}</a></li>
        {% endfor %}
    </ul>

{% else %}
    <p>No polls are available.</p>
{% endif %}
